<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <localRepository>/root/.m2/repository</localRepository>
  
  <servers>
    <server>
       <id>artifacts</id>
       <username>${env.MAVEN_USER}</username>
       <password>${env.MAVEN_SECRET}</password>
    </server>
    <server>
       <id>artifacts-sandbox</id>
       <username>${env.MAVEN_USER}</username>
       <password>${env.MAVEN_SECRET}</password>
    </server>
    <server>
       <id>jpmc-public</id>
       <username>${env.MAVEN_USER}</username>
       <password>${env.MAVEN_SECRET}</password>
    </server>
    <server>
       <id>JULES</id>
       <username>${env.MAVEN_USER}</username>
       <password>${env.MAVEN_SECRET}</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>jpmc-public</id>
      <mirrorOf>*,!artifacts,!artifacts-sandbox</mirrorOf>
      <url>https://artifacts-read.gkp.jpmchase.net/artifactory/maven</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>artifacts</id>
      <repositories>
        <repository>
          <id>artifacts</id>
          <url>https://artifacts-read.gkp.jpmchase.net/artifactory/maven</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>artifacts-sandbox</id>
          <url>https://artifacts-read.gkp.jpmchase.net/artifactory/maven-sandbox</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>artifacts</id>
          <url>https://artifacts-read.gkp.jpmchase.net/artifactory/maven</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>interval:60</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <!-- make the profile active all the time -->
    <activeProfile>artifacts</activeProfile>
  </activeProfiles>
</settings>
